body {
    margin: 0px;
}
br {width: 20px}
h1 {
    text-align: center;
    border-bottom: 1px solid black;
    padding: 20px;
    margin:0px;
}
a {
    text-decoration-line: none;
    color:blue;
}
ol {
    border-right: 1px solid black;
    width: 150px;
    margin:0px;

}
#grid {
    display:grid;
    grid-template-columns: 200px 1fr;
}
#grid #active {

}
li {
    margin-top: 20px;
}

p {
    border-bottom: 1px solid gray;
}